.image-list {
  display: flex;
  flex-flow: row no-wrap;
  justify-content: center;
  border: solid 1px black;
  height: 200px;
  padding: 5px;
}

.image-list img {
  width: 100px;
  height: auto;
  margin: 5px;
}
